@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spotiwhite: #e2e8f0;
  --spotiblack: #191414;
  --spotigreen: #1db954;
}

* {
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 100ms;
}

html {
  background-color: var(--spotiblack);
}

@keyframes toast {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.toast {
  animation: toast 2s ease forwards;
}

li[aria-selected='true'] {
  background: var(--spotiblack);
}
