@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spotiwhite: #e2e8f0;
  --spotiblack: #191414;
  --spotigreen: #1db954;
}

* {
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 100ms;
}
